@using ModelsEntity
@using SiteEngine.Models.Order
@model DetailOrderViewModelForPerformer

@{
    Layout = "~/Views/Shared/PerformerLayout.cshtml";
}

<div class="container">
    <div class="row row-gap-3">
         <div class="col">
            <div class="sticky-top">
                <div class="row mb-3">
                    @if (!Model.Order.PerformerId.HasValue)
                    {
                        if(Model.HasRequestInQueue)
                        {
                            <div class="col-12 d-grid">
                                <form class="col-12 d-grid" method="get">
                                    <button class="btn btn-warning acceptClass hidden" asp-action="AcceptOrder" asp-controller="PerformerBoard">Откликнуться</button>
                                    <input class="hidden" value="@Model.Order.Id" name="orderId" />
                                    <input class="hidden" value="@Model.PerformerProfile.Id" name="performerId" />
                                </form>
                            </div>
                            <div class="col-12 d-grid">
                                <form class="col-12 d-grid" method="get">
                                    <button class="btn btn-warning cancelAcceptClass" asp-action="CancelAcceptOrder" asp-controller="PerformerBoard">Отменить отклик</button>
                                    <input class="hidden" value="@Model.Order.Id" name="orderId" />
                                    <input class="hidden" value="@Model.PerformerProfile.Id" name="performerId" />
                                </form>
                            </div>
                        }
                        else
                        {
                            <div class="col-12 d-grid">
                                <form class="col-12 d-grid" method="get">
                                    <button class="btn btn-warning acceptClass" asp-action="AcceptOrder" asp-controller="PerformerBoard">Откликнуться</button>
                                    <input class="hidden" value="@Model.Order.Id" name="orderId" />
                                    <input class="hidden" value="@Model.PerformerProfile.Id" name="performerId" />
                                </form>
                            </div>
                            <div class="col-12 d-grid">
                                <form class="col-12 d-grid" method="get">
                                    <button class="btn btn-warning cancelAcceptClass hidden" asp-action="CancelAcceptOrder" asp-controller="PerformerBoard">Отменить отклик</button>
                                    <input class="hidden" value="@Model.Order.Id" name="orderId" />
                                    <input class="hidden" value="@Model.PerformerProfile.Id" name="performerId" />
                                </form>
                            </div>
                        }
                    }
                </div>

                @if (Model.Order.PerformerId.HasValue && Model.Order.PerformerId == Model.PerformerProfile.Id && Model.Order.OrderStatus == "S")
                {
                    <div class="row mb-3">
                        <div class="col d-grid ">
                            <button class="btn btn-success" type="button" data-bs-toggle="modal" data-bs-target="#ModalWindow3">Завершить</button>
                        </div>
                    </div>
                }

                @if (Model.Order.PerformerId.HasValue && Model.Order.PerformerId == Model.PerformerProfile.Id && Model.Order.OrderStatus == "S")
                {
                    if(Model.HasInitiatorCancelRequest)
                    {
                        <div class="row mb-3">
                            <div class="col d-grid ">
                                <button class="btn btn-warning" type="button" data-bs-toggle="modal" data-bs-target="#ModalWindow4">Удалить запрос отмены</button>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="row mb-3">
                            <div class="col d-grid ">
                                <button class="btn btn-danger" type="button" data-bs-toggle="modal" data-bs-target="#ModalWindow2">Отменить </button>
                            </div>
                        </div>
                    }
                }
            </div>
         </div>
         <div class="col-6 p-3">
             <div class="container">
                 <div class="justify-content-center">
                    <h5>Заказ № @Model.Order.Id</h5>
                    
                     <div class="row">
                        <div class="col text-start">
                            <h4 class="card-title">
                                @Model.Order.TitleName
                            </h4>
                        </div>
                     </div>
                    <div class="h4 pb-2 mb-4 text-danger border-bottom border-danger"></div>
                    <div class="row">
                        <div class="col text-start">
                            Город
                        </div>
                        <div class="col text-center">
                            <h10>@Model.Order.City</h10>
                        </div>
                    </div>
                    <div class="h4 pb-2 mb-4 text-danger border-bottom border-danger"></div>
                    <div class="row">
                        <div class="col text-start">
                            Адрес
                        </div>
                        <div class="col text-start">
                            <h10>@Model.Order.Adress</h10>
                        </div>
                    </div>
                    <div class="h4 pb-2 mb-4 text-danger border-bottom border-danger"></div>
                    <div class="row">
                        <div class="text-center">
                            <h8>Краткое описание</h8>
                        </div>
                        <div class="text-start">
                            <p class="fs-4">@Model.Order.Description</p>
                        </div>
                    </div>
                    <div class="h4 pb-2 mb-4 text-danger border-bottom border-danger"></div>
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <div class="col text-start">
                                    Время выполнения: 
                                </div>
                                <div class="col text-start">
                                    <p class="fs-5">@Model.Order.ActivTime</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="col text-start">
                                    Исполнитель: 
                                </div>
                                @if (!@Model.Order.PerformerId.HasValue)
                                {
                                    <div class="col text-start">
                                        <p class="fs-5">Не выбран</p>
                                    </div>
                                }
                                else
                                {
                                    <div class="col text-start">
                                        <p class="fs-4">@Model.PerformerProfile.LastName @Model.PerformerProfile.FirstName</p>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="h4 pb-2 mb-4 text-danger border-bottom border-danger"></div>
                    <div class="row">
                        <div class="col text-start">
                            Приоритет: 
                        </div>
                        <div class="col text-center">
                            @{
                                var itemPriority = Model.OrderPriorities.SingleOrDefault(el => el.Name == Model.Order.OrderPriority);
                            }
                            <h9>@itemPriority.Description</h9>
                        </div>
                    </div>
                    <div class="h4 pb-2 mb-4 text-danger border-bottom border-danger"></div>
                    <div class="row">
                        <div class="col text-start">
                            Статус:
                        </div>
                        <div class="col text-center">
                            @{
                                var itemStatus = Model.OrderStatuses.SingleOrDefault(el => el.Name == Model.Order.OrderStatus);
                            }
                            <h9>@itemStatus.Description</h9>
                        </div>
                    </div>
                    <div class="h4 pb-2 mb-4 text-danger border-bottom border-danger"></div>
                    <div class="row">
                        <div class="col text-start">
                            Дата создания:
                        </div>
                        <div class="col text-center">
                            <h9>@Model.Order.CreatedDate</h9>
                        </div>
                    </div>
                    <div class="h4 pb-2 mb-4 text-danger border-bottom border-danger"></div>
                    <div class="row">
                        <div class="col text-start">
                            Дата последнего изменения:
                        </div>
                        <div class="col text-center">
                            <h9>@Model.Order.UpdatedDate</h9>
                        </div>
                    </div>
                    <div class="h4 pb-2 mb-4 text-danger border-bottom border-danger"></div>
                    <div class="row">
                        <div class="col text-start">
                            Дата удаления:
                        </div>
                        <div class="col text-center">
                            <h9>@Model.Order.DeletedDate</h9>
                        </div>
                    </div>
                    <div class="h4 pb-2 mb-4 text-danger border-bottom border-danger"></div>
                 </div>
                <div class="d-grid gap-2">
                    <button class="btn btn-outline-secondary" onclick="window.location = window.origin+'/PerformerBoard/IndexOrderList'" type="button">Назад к списку заказов</button>
                </div>
             </div>

            <div class="modal fade" id="ModalWindow3" tabindex="-1" aria-labelledby="ModalWindowLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="ModalWindowLabel">Завершить выполнение заказа ?</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                        </div>
                        <div class="modal-body">
                            <div class="col mb-3">
                                <form asp-action="SetDoneOrder" asp-controller="PerformerBoard" method="get">
                                    <div class="hidden">
                                        <input type="number" asp-for="Order.Id" name="orderId" value=@Model.Order.Id class="form-control">
                                        <input type="number" asp-for="PerformerProfile.Id" name="performerId" value=@Model.PerformerProfile.Id class="form-control">
                                    </div>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Нет</button>
                                    <button type="submit" class="btn btn-primary">Завершить</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="ModalWindow2" tabindex="-1" aria-labelledby="ModalWindowLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="ModalWindowLabel">Отказ от заказа</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                        </div>
                        <div class="modal-body">
                            <div class="col mb-3">
                                <h9>Уверены, что хотите отказаться от заказа ?</h9>

                                <form asp-action="CancelOrder" asp-controller="PerformerBoard" method="get">
                                    <div class="justify-content-center">
                                        <div class="hidden">
                                            <input type="number" asp-for="Order.Id" name="orderId" value=@Model.Order.Id class="form-control">
                                            <input type="number" asp-for="PerformerProfile.Id" name="performerId" value=@Model.PerformerProfile.Id class="form-control">
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                                    <button type="submit" class="btn btn-primary">Подтвердить отказ</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="ModalWindow4" tabindex="-1" aria-labelledby="ModalWindowLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="ModalWindowLabel">Удалить заявку на отказ от заказа ?</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                        </div>
                        <div class="modal-body">
                            <div class="col mb-3">
                                <form asp-action="RemoveRequestCancelOrder" asp-controller="PerformerBoard" method="get">
                                    <div class="justify-content-center">
                                        <div class="hidden">
                                            <input type="number" asp-for="Order.Id" name="orderId" value=@Model.Order.Id class="form-control">
                                            <input type="number" asp-for="PerformerProfile.Id" name="performerId" value=@Model.PerformerProfile.Id class="form-control">
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена дейсвия</button>
                                    <button type="submit" class="btn btn-primary">Да, удалить заявку на отказ от заказа</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

         </div>
         <div class="col">

         </div>
    </div>
</div>

<script src="~/js/performerOrderScript.js"></script>