@using ModelsEntity
@model (List<ModelsEntity.Order>, Customer, List<OrderPriority>, List<OrderStatus>)

@{
    Layout = "~/Views/Shared/CustomerLayout.cshtml";
}
<div class="h4 pb-2 mb-4 text-danger border-bottom border-danger"></div>
<div class="container">
    <div class="row mb-4">
        <div class="col-4">
            <div class="sticky-top">
                <div class="justify-content-center">
                    <h5>
                        Фильтры
                    </h5>
                    <form class="" id="CustomFilterForm" method="get" asp-controller="CustomerBoard" asp-action="IndexOrderListByFilter">
                        <div class="row mb-3">
                            <div class="col mb-3">
                                <label class="form-label" for="dateCreateStart">Дата создания (с):</label>
                                <input class="form-control" type="date" id="dateCreateStart" name="dateCreateStart" />
                            </div>
                            <div class="col mb-3">
                                <label class="form-label" for="dateCreateEnd">Дата создания (по):</label>
                                <input class="form-control" type="date" id="dateCreateEnd" name="dateCreateEnd" />
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col mb-3">
                                <label class="form-label" for="dateCanceledStart">Дата отмены (с):</label>
                                <input class="form-control" type="date" id="dateCanceledStart" name="dateCanceledStart" />
                            </div>
                            <div class="col mb-3">
                                <label class="form-label" for="dateCanceledEnd">Дата отмены (по):</label>
                                <input class="form-control" type="date" id="dateCanceledEnd" name="dateCanceledEnd" />
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="statusId">Статус:</label>
                            <select id="statusId" name="statusId" class="form-select">
                                <option value="">Ничего не выбрано</option>
                                @foreach (OrderStatus status in Model.Item4)
                                {
                                    <option value=@status.Name>@status.Description</option>
                                }
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="priorityId">Приоритет:</label>
                            <select id="priorityId" name="priorityId" class="form-select">
                                <option value="">Ничего не выбрано</option>
                                @foreach (OrderPriority priority in Model.Item3)
                                {
                                    <option value=@priority.Name>@priority.Description</option>
                                }
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Применить фильтры</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="justify-content-center">
                @if(Model.Item1.ToArray().Length == 0)
                {
                    <div class="border border-danger p-2 mb-2 border-opacity-25">
                        <h5 class="card-title">
                            Заказы не найдены
                        </h5>
                    </div>
                }
                else
                {
                    @foreach(Order order in Model.Item1)
                    {
                        <div class="border rounded-4 mb-3">
                            <div class="p-3 mb-2 bg-light-subtle text-light-emphasis" onclick="window.location = window.origin+'/CustomerBoard/Order/@order.Id'">
                                <div class="row">
                                    <div class="col text-start">
                                        <h4 class="card-title">
                                            @order.TitleName
                                        </h4>
                                    </div>
                                    <div class="col text-end">
                                        <h6>
                                            @Model.Item2.FirstName @Model.Item2.MiddleName
                                        </h6>
                                    </div>
                                </div>
                                <div class="h4 pb-2 mb-4 text-danger border-bottom border-danger"></div>
                                <div class="row">
                                    <div class="col text-start">
                                        <h6>
                                            @order.City
                                        </h6>
                                    </div>
                                    @{
                                        var orderPriorityItem = Model.Item3.SingleOrDefault(el => el.Name == order.OrderPriority);
                                    }
                                    <div class="col text-end">
                                        <h6>@orderPriorityItem.Description</h6>
                                    </div>
                                </div>
                                <div class="h4 pb-2 mb-4 text-danger border-bottom border-danger"></div>
                                <div class="row">
                                    <div class="col text-start">
                                        <h10>
                                            Дата создания заказа
                                        </h10>
                                    </div>
                                    <div class="col text-end">
                                        <h9>
                                            @order.CreatedDate
                                        </h9>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
        <div class="col-2">

        </div>
    </div>
</div>