@using ModelsEntity
@using SiteEngine.Models.Order
@model DetailOrderViewModelForCustomer

@{
    Layout = "~/Views/Shared/CustomerLayout.cshtml";

    var performersDictionary = Model.Performers.ToDictionary(p => p.Id, p => p);
}

<div class="container">
    <div class="row row-gap-3">
         <div class="col">
            <div class="sticky-top">

                @if (Model.Order.OrderStatus == "D")
                {
                    <div class="row mb-3">
                        <div class="col d-grid ">
                            <button class="btn btn-outline-success" type="button" data-bs-toggle="modal" data-bs-target="#ModalWindow5">Утвердить исполнителя </button>
                        </div>
                    </div>
                }

                @if (Model.Order.OrderStatus != "X")
                {
                    @if (Model.Order.OrderStatus == "F")
                    {
                        <div class="row mb-3">
                            <div class="col d-grid ">
                                <button class="btn btn-outline-success" type="button" data-bs-toggle="modal" data-bs-target="#ModalWindow4">Оставить отзыв</button>
                            </div>
                        </div>
                    }
                    else
                    {
                        if (Model.HasInitiatorCancelRequest && Model.Order.OrderStatus == "S")
                        {
                            <div class="row mb-3">
                                <div class="col d-grid ">
                                    <button class="btn btn-warning" type="button" data-bs-toggle="modal" data-bs-target="#ModalWindow6">Удалить запрос отмены</button>
                                </div>
                            </div>
                        }
                        else if (!Model.HasInitiatorCancelRequest && Model.Order.OrderStatus == "S")
                        {
                            <div class="row mb-3">
                                <div class="col d-grid ">
                                    <button class="btn btn-outline-warning" type="button" data-bs-toggle="modal" data-bs-target="#ModalWindow3">Отменить</button>
                                </div>
                            </div>
                        }

                        <div class="row mb-3">
                            <div class="col d-grid ">
                                <button class="btn btn-outline-secondary" type="button" data-bs-toggle="modal" data-bs-target="#ModalWindow">Изменить приоритет</button>
                            </div>
                        </div>
                    }

                    @if (!Model.Order.PerformerId.HasValue)
                    {
                        <div class="row mb-3">
                            <div class="col-12 d-grid ">
                                <form class="col-12 d-grid" method="get">
                                    <button class="btn btn-outline-info" asp-action="UpdateOrder" asp-controller="CustomerBoard">Изменить</button>
                                    <input class="hidden" value="@Model.Order.Id" name="Id" />
                                </form>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col d-grid ">
                                <button class="btn btn-outline-danger" type="button" data-bs-toggle="modal" data-bs-target="#ModalWindow2">Удалить заказ</button>
                            </div>
                        </div>
                    }
                }
            </div>
         </div>
         <div class="col-6 p-3">
             <div class="container">
                 <div class="justify-content-center">
                    <h5>Заказ № @Model.Order.Id</h5>
                    
                    <div class="row">
                       <div class="col text-start">
                           <h4 class="card-title">
                               @Model.Order.TitleName
                           </h4>
                       </div>
                    </div>
                    <div class="h4 pb-2 mb-4 text-danger border-bottom border-danger"></div>
                    <div class="row">
                        <div class="col text-start">
                            Город
                        </div>
                        <div class="col text-center">
                            <h10>@Model.Order.City</h10>
                        </div>
                    </div>
                    <div class="h4 pb-2 mb-4 text-danger border-bottom border-danger"></div>
                    <div class="row">
                        <div class="col text-start">
                            Адрес
                        </div>
                        <div class="col text-start">
                            <h10>@Model.Order.Adress</h10>
                        </div>
                    </div>
                    <div class="h4 pb-2 mb-4 text-danger border-bottom border-danger"></div>
                    <div class="row">
                        <div class="text-center">
                            <h8>Краткое описание</h8>
                        </div>
                        <div class="text-start">
                            <p class="fs-4">@Model.Order.Description</p>
                        </div>
                    </div>
                    <div class="h4 pb-2 mb-4 text-danger border-bottom border-danger"></div>
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <div class="col text-start">
                                    Время выполнения: 
                                </div>
                                <div class="col text-start">
                                    <p class="fs-5">@Model.Order.ActivTime</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="col text-start">
                                    Исполнитель: 
                                </div>
                                @if (!@Model.Order.PerformerId.HasValue)
                                {
                                    <div class="col text-start">
                                        <p class="fs-5">Не выбран</p>
                                    </div>
                                }
                                else
                                {
                                    <div class="col text-start">
                                        <p class="fs-4">@Model.PerformerProfile.LastName @Model.PerformerProfile.FirstName</p>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="h4 pb-2 mb-4 text-danger border-bottom border-danger"></div>
                    <div class="row">
                        <div class="col text-start">
                            Приоритет: 
                        </div>
                        <div class="col text-center">
                            @{
                                var itemPriority = Model.OrderPriorities.SingleOrDefault(el => el.Name == Model.Order.OrderPriority);
                            }
                            <h9>@itemPriority.Description</h9>
                        </div>
                    </div>
                    <div class="h4 pb-2 mb-4 text-danger border-bottom border-danger"></div>
                    <div class="row">
                        <div class="col text-start">
                            Статус:
                        </div>
                        <div class="col text-center">
                            @{
                                var itemStatus = Model.OrderStatuses.SingleOrDefault(el => el.Name == Model.Order.OrderStatus);
                            }
                            <h9>@itemStatus.Description</h9>
                        </div>
                    </div>
                    <div class="h4 pb-2 mb-4 text-danger border-bottom border-danger"></div>
                    <div class="row">
                        <div class="col text-start">
                            Дата создания:
                        </div>
                        <div class="col text-center">
                            <h9>@Model.Order.CreatedDate</h9>
                        </div>
                    </div>
                    <div class="h4 pb-2 mb-4 text-danger border-bottom border-danger"></div>
                    <div class="row">
                        <div class="col text-start">
                            Дата последнего изменения:
                        </div>
                        <div class="col text-center">
                            <h9>@Model.Order.UpdatedDate</h9>
                        </div>
                    </div>
                    <div class="h4 pb-2 mb-4 text-danger border-bottom border-danger"></div>
                    <div class="row">
                        <div class="col text-start">
                            Дата удаления:
                        </div>
                        <div class="col text-center">
                            <h9>@Model.Order.DeletedDate</h9>
                        </div>
                    </div>
                    <div class="h4 pb-2 mb-4 text-danger border-bottom border-danger"></div>
                 </div>
                <div class="d-grid gap-2">
                    <button class="btn btn-outline-secondary" onclick="window.location = window.origin+'/CustomerBoard/IndexOrderList'" type="button">Назад к списку заказов</button>
                </div>
             </div>
         </div>
         <div class="col">

         </div>
        <div class="modal fade" id="ModalWindow" tabindex="-1" aria-labelledby="ModalWindowLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="ModalWindowLabel">Новый приоритет заказа</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                    </div>
                    <div class="modal-body">
                        <div class="col mb-3">
                            <form asp-action="UpdateOrderPriority" asp-controller="CustomerBoard" method="post">
                                <div class="justify-content-center">
                                    <div class="hidden">
                                        <input type="number" asp-for="Order.Id" name="Id" value=@Model.Order.Id class="form-control">
                                    </div>
                                    <label class="form-label" for="OrderPriority">Новый Приоритет:</label>
                                    <select id="OrderPriority" name="OrderPriority" class="form-select">
                                        @foreach (var priority in Model.OrderPriorities)
                                        {
                                            if (priority.Name == Model.Order.OrderPriority)
                                            {
                                                <option selected value=@priority.Name>@priority.Description</option>
                                            }
                                            else
                                            {
                                                <option value=@priority.Name>@priority.Description</option>
                                            }
                                        }
                                    </select>
                                </div>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                                <button type="submit" class="btn btn-primary">Сохранить изменения</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="ModalWindow2" tabindex="-1" aria-labelledby="ModalWindow2Label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="ModalWindowLabel">Удаление заказа</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                    </div>
                    <div class="modal-body">
                        <div class="col mb-3">
                            <h9>Уверены, что хотите удалить/отменить заказ ?</h9>
                            <form asp-action="DeleteOrder" asp-controller="CustomerBoard" method="post">
                                <div class="justify-content-center">
                                    <div class="hidden">
                                        <input type="number" asp-for="Order.Id" name="Id" value=@Model.Order.Id class="form-control">
                                    </div>
                                </div>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                                <button type="submit" class="btn btn-primary">Подтвердить удаление</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="ModalWindow3" tabindex="-1" aria-labelledby="ModalWindowLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="ModalWindowLabel">Отказ от заказа</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                    </div>
                    <div class="modal-body">
                        <div class="col mb-3">
                            <h9>Уверены, что хотите отказаться от заказа ?</h9>

                            <form asp-action="CancelOrder" asp-controller="CustomerBoard" method="get">
                                <div class="justify-content-center">
                                    <div class="hidden">
                                        <input type="number" asp-for="Order.Id" name="orderId" value=@Model.Order.Id class="form-control">
                                        <input type="number" asp-for="CustomerProfile.Id" name="customerId" value=@Model.CustomerProfile.Id class="form-control">
                                    </div>
                                </div>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                                <button type="submit" class="btn btn-primary">Подтвердить отказ</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="ModalWindow4" tabindex="-1" aria-labelledby="ModalWindowLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="ModalWindowLabel">Оставить отзыв о выполненном заказе</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                    </div>
                    <div class="modal-body">
                        <div class="col mb-3">
                            <form asp-action="SetOrderScore" asp-controller="CustomerBoard" method="post">
                                <div class="justify-content-center">
                                    <div class="hidden">
                                        <input type="number" asp-for="Order.Id" name="orderId" value=@Model.Order.Id class="form-control">
                                        <input type="number" name="rating" id="rating" value="0" class="form-control" />
                                    </div>
                                    <div class="justify-content-center">
                                        <div class="star-rating">
                                            <span class="star" data-value="1">&#9733;</span>
                                            <span class="star" data-value="2">&#9733;</span>
                                            <span class="star" data-value="3">&#9733;</span>
                                            <span class="star" data-value="4">&#9733;</span>
                                            <span class="star" data-value="5">&#9733;</span>
                                        </div>
                                        <textarea name="comment" class="form-control mt-2" rows="5" placeholder="Ваш отзыв..."></textarea>
                                    </div>
                                </div>
                                <div class="h4 pb-2 mb-4 text-danger border-bottom border-danger"></div>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                                <button type="submit" class="btn btn-primary">Оценить</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="ModalWindow5" tabindex="-1" aria-labelledby="ModalWindowLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="ModalWindowLabel">Список откликнувшихся исоплнителей</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                    </div>
                    <div class="modal-body">
                        <div class="col mb-4">
                            <form asp-action="ApprovePerformerForOrder" asp-controller="CustomerBoard" method="get">
                                <div class="justify-content-center">
                                    <div class="hidden">
                                        <input type="number" asp-for="Order.Id" name="orderId" value=@Model.Order.Id class="form-control">
                                    </div>
                                    <select class="form-select" id="performerId" name="performerId">
                                        @foreach(var mapping in Model.OrderPerformerMappings)
                                        {
                                            var performer = performersDictionary.GetValueOrDefault(mapping.PerformerId);
                                            
                                            if(performer is not null)
                                            {
                                                <option value="@performer.Id">@performer.LastName @performer.FirstName @performer.MiddleName &#9733;@performer.AverageRating</option>
                                            }
                                        }
                                    </select>
                                </div>
                                <div class="h4 pb-2 mb-4 text-danger border-bottom border-danger"></div>
                                <div class="justify-content-center mb-3">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                                    <button type="submit" class="btn btn-primary">Утвердить</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="ModalWindow6" tabindex="-1" aria-labelledby="ModalWindowLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="ModalWindowLabel">Удалить заявку на отказ от заказа ?</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                    </div>
                    <div class="modal-body">
                        <div class="col mb-3">
                            <form asp-action="RemoveRequestCancelOrder" asp-controller="CustomerBoard" method="get">
                                <div class="justify-content-center">
                                    <div class="hidden">
                                        <input type="number" asp-for="Order.Id" name="orderId" value=@Model.Order.Id class="form-control">
                                        <input type="number" asp-for="CustomerProfile.Id" name="customerId" value=@Model.CustomerProfile.Id class="form-control">
                                    </div>
                                </div>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена дейсвия</button>
                                <button type="submit" class="btn btn-primary">Да, удалить заявку на отках от заказа</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="/js/customerOrderScript.js"></script>